
<h1>Editing Listing</h1>
	<% if !@listing.image.nil?%>
	<div class="thumbnail">
      <%= image_tag @listing.image.url(:thumb) %>
 	</div>
 	<% end -%>
<%= render 'form' %>

<%= link_to 'Show', @listing, class: "btn btn-link" %> |
<%= link_to 'Back', listings_path, class: "btn btn-link" %>

</body>