<%= render 'layouts/cate_menu' %>
<h1>Listings</h1>
<div class="center">
<div class="row">
  <%= render(@listings) %>

</div>
<%= paginate @listings %>


<br>
<% if (user_signed_in?) %>
<%= link_to 'New Listing', new_listing_path, class: "btn btn-link"  %>
<% end %>
</div>