<div>
  <div><%= image_tag shopping_cart_item.item.image.url(:thumb) %></div>
  <div><%= shopping_cart_item.item.name %></div>
  <div><%= shopping_cart_item.item.price %></div>
  <div><%= shopping_cart_item.quantity %></div>
</div>
