<div class="navbar-default center">
      <ul class="nav nav-pills">
        
          <li>
          <%= link_to 'Thêm sản phẩm', new_listing_path %>
          </li>
          <li>
          <%= link_to 'Thêm từ Web', new_link_path %>
          </li>
          <li>
          <%= link_to 'Đơn hàng', sales_path %>
          </li>
          <li>
          <%= link_to 'Sản phẩm', seller_path %>
          </li>
        <% end %>
      </ul>
    </div>
    